<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.school.exam.repository.IndexShowDao">
	<select id="findMaxId"  resultType="IndexShowVO">
	      select MAX(id) as id,exam_name as examName from  t_te_make_exam where state=3
	</select>
	<select id="findSumScore"  resultType="Double" parameterType="long">
		select SUM(a.question_score) as questionScore  from  t_te_exam_question a,t_te_question_exampaper b where  b.question_id=a.id and b.exampaper_id = #{id}
	</select>
	<select id="findPassNum"  resultType="Integer" parameterType="map">
		select COUNT(id) as passNum from  t_te_exam_paper_result where exam_id=#{id} and sum_score/#{score}>=0.6
	</select>
	<select id="findTotalNum"  resultType="Integer" parameterType="long">
		select COUNT(id) as totalNum from  t_te_exam_paper_result where exam_id=#{id}
	</select>
	<select id="findFivePerson" resultType="IndexShowVO" parameterType="long">
		select person_Name as personName,exam_Order as examOrder,sum_score as sumScore from t_te_exam_paper_result where exam_id=#{id} ORDER BY exam_order LIMIT 0,5
	</select>
</mapper>